<section class="container-fluid px-4">
  <p class=""><strong>{MESSAGE}</strong></p>
  <div class="row">

    <div class="col-12 col-lg-6 py-3">
      <div class="card px--3 py-3 px-3">
        <h1 class="h5">upload single file</h1>
        <form action="/panel/paper/registrar" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="formFile" class="form-label">Papaer max:{UPLOAD_MAX_FILESIZE}</label>
            <input class="form-control" type="file" id="formFile" required name="file">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-12 col-lg-6 py-3">
      <div class="card px--3 py-3 px-3">
        <h1 class="h5">enqueue from folder</h1>
        <form action="/panel/paper/equeue_files" method="post" enctype="multipart/form-data">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<hr class="my-5"/>
<section class="container-fluid px-4">
  <div class="row">
    <div class="col-12">
      <p>pdf no procesados</p>
      <pre>
        {DOCUMENT_PDF}
      </pre>
    </div>
    <div class="col-12">
      <p>papers</p>
      <pre>
        {COLLECTION}
      </pre>
    </div>
    <div class="col-12">
      {TABLE}
    </div>
  </div>
</section>