<!doctype html>
<html lang="es">
  <head>
    {ROBOTS}
    <title>{TITLE}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    {TM_HEAD}
    <link rel="stylesheet" href="/site_media/css/reset.css" />
    <link rel="stylesheet" href="/site_media/css/site.css" />
    {HEAD_IMPORTS}
  </head>
  <body>
    {TM_BODY}
  <nav>
    <ul>
      <!--MENU-MOBILE-ITEM--><li><a href="{href}">{anchor}</a></li><!--MENU-MOBILE-ITEM-->
    </ul>
  </nav>

  <header>
    <nav>
      <ul>
        <!--MENU-ITEM--><li><a href="{href}">{anchor}</a></li><!--MENU-ITEM-->
      </ul>
    </nav>
  </header>

  {CONTENIDO}

  <footer>
    <p>{COPYRIGHT_TXT}</p>
  </footer>

  <script src="/site_media/js/site.js" charset="utf-8"></script>
  {FOOTER_IMPORTS}
  </body>
</html>