@use "sass:math";
@mixin aspect-ratio($rw,$rh){
  &:before {
    content: '';
    display: block;
    padding-top: math.div($rh,$rw) * 100%;
  }
}
@mixin asr-set-min-height($rw,$rh,$w){
  min-height: #{ math.div( ($w*$rh),$rw) };
}
